<!DOCTYPE html>
<html lang="en">
  <head>
    <title>당신의 서재</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Theme CSS - Includes Bootstrap -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link href="../static/stylesheets/style.css" rel="stylesheet" />

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- 구글폰트 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> -->
    <style></style>
    <script></script>
  </head>
  <body>
    <div class="mainHeaderGroup">
      <div class="large-black-box">
        <p class="largeWhiteText">당신의 서재</p>
      </div>
      <div class="profileGroup">
        <img class="profile-photo" src="../static/images/profile_photo.png" alt="내 프로필 사진" />
        <p>클라우드</p>
      </div>
      <div class="library-btn">
        <img class="library-photo" src="../static/images/inactive_book.png" alt="내 서재 사진" />
      </div>
      <div class="best-btn">
        <img class="best-photo" src="../static/images/best_flag.png" alt="베스트 조회 사진" />
      </div>
      <div class="search-btn">
        <img class="search-photo" src="../static/images/before_search.png" alt="검색 사진" />
      </div>
    </div>
    <div class="title-line"></div>
    <div class="feed-group">
      <div class="content-feed-group">
        <div class="profileGroup">
          <img
            class="profile-photo"
            src="../static/images/profile_photo.png"
            alt="내 프로필 사진"
          />
          <p>클라우드</p>
        </div>
        <div class="like-wrap">
          <img
            class="like-feed-icn"
            src="../static/images/inactive_heart.png"
            align="left"
            alt="좋아요"
          />
          <div class="like-feed-count">25</div>
        </div>
        <div class="follow-check">
          <img class="follow-check-img" src="../static/images/after_follow.png" alt="팔로잉 중" />
        </div>
        <img class="book-photo" src="../static/images/sample_book.png" alr="책 사진" />
        <img class="star-rating" src="../static/images/active_stars.png" alr="별점" />
        <div class="one-pharse">
          <p>기억에 남는 책 속 한 구절</p>
        </div>
        <div class="hash-tag">
          <p>해시태그를 남겨주세요.</p>
        </div>
        <div class="feed-date">
          <p>2020.02.13 23:00</p>
        </div>
      </div>
      <div class="feed-divide-line"></div>
    </div>
    <div class="feed-group">
      <div class="content-feed-group">
        <div class="profileGroup">
          <img
            class="profile-photo"
            src="../static/images/profile_photo.png"
            alt="내 프로필 사진"
          />
          <p>클라우드</p>
        </div>
        <div class="like-wrap">
          <img
            class="like-feed-icn"
            src="../static/images/inactive_heart.png"
            align="left"
            alt="좋아요"
          />
          <div class="like-feed-count">25</div>
        </div>
        <div class="follow-check">
          <img class="follow-check-img" src="../static/images/after_follow.png" alt="팔로잉 중" />
        </div>
        <img class="book-photo" src="../static/images/sample_book.png" alr="책 사진" />
        <img class="star-rating" src="../static/images/active_stars.png" alr="별점" />
        <div class="one-pharse">
          <p>기억에 남는 책 속 한 구절</p>
        </div>
        <div class="hash-tag">
          <p>해시태그를 남겨주세요.</p>
        </div>
        <div class="feed-date">
          <p>2020.02.13 23:00</p>
        </div>
      </div>
      <div class="feed-divide-line"></div>
    </div>
    <div class="feed-group">
      <div class="content-feed-group">
        <div class="profileGroup">
          <img
            class="profile-photo"
            src="../static/images/profile_photo.png"
            alt="내 프로필 사진"
          />
          <p>클라우드</p>
        </div>
        <div class="like-wrap">
          <img
            class="like-feed-icn"
            src="../static/images/inactive_heart.png"
            align="left"
            alt="좋아요"
          />
          <div class="like-feed-count">25</div>
        </div>
        <div class="follow-check">
          <img class="follow-check-img" src="../static/images/after_follow.png" alt="팔로잉 중" />
        </div>
        <img class="book-photo" src="../static/images/sample_book.png" alr="책 사진" />
        <img class="star-rating" src="../static/images/active_stars.png" alr="별점" />
        <div class="one-pharse">
          <p>기억에 남는 책 속 한 구절</p>
        </div>
        <div class="hash-tag">
          <p>해시태그를 남겨주세요.</p>
        </div>
        <div class="feed-date">
          <p>2020.02.13 23:00</p>
        </div>
      </div>
      <div class="feed-divide-line"></div>
    </div>
  </body>
</html>
