<!DOCTYPE html>
<html lang="en">
  <head>
    <title>당신의 서재</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
    <link href="../static/stylesheets/style.css" rel="stylesheet" />

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script></script>
  </head>
  <body>
    <div class="mainHeaderGroup">
      <div class="large-grey-box">
        <p class="largeWhiteText">당신의 서재</p>
      </div>
      <div class="profileGroup">
        <img class="profile-photo" src="../static/images/profile_photo.png" alt="내 프로필 사진" />
        <p>클라우드</p>
      </div>
      <div class="library-btn">
        <img class="library-photo" src="../static/images/inactive_book.png" alt="내 서재 사진" />
      </div>
      <div class="best-btn">
        <img
          class="best-photo"
          src="../static/images/best_active_flag.png"
          alt="베스트 조회 사진"
        />
      </div>
      <div class="search-btn">
        <img class="search-photo" src="../static/images/before_search.png" alt="검색 사진" />
      </div>
    </div>
    <div class="title-bar">
      <p>스텔라 님의 도서 리스트()</p>
    </div>
    <div class="book-shelf book-container">
      <div class="book-shelf-bar"></div>
      <div class="book-shelf-bar"></div>
      <div class="book-shelf-bar"></div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
      <div class="item-book">
        <img class="book-photo" src="../static/images/plus_book_covers.png" alt="책 추가하기" />
        <div class="book-title">
          <p>책 제목</p>
        </div>
        <div class="book-author">
          <p>작가</p>
        </div>
      </div>
    </div>
  </body>
</html>
