<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>당신의 서재</title>

    <!-- Theme CSS - Includes Bootstrap -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link href="../static/stylesheets/style.css" rel="stylesheet" />

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>

    </script>

    <!-- 구글폰트 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> -->
    <style>
    </style>
    
  </head>
  <body>
    <div class="mainHeaderGroup">
      <div class="large-grey-box">
        <p class="largeWhiteText">회원 정보 수정</p>
      </div>
    </div>
    <div class="profile-edit-group">
      <img class="profile-photo" src="../static/images/big-profile.png" alt="프로필 사진 수정" />
      <div class="register-bar">
        <input
          type="text"
          class="register-input"
          name="nickname"
          placeholder="아이디(별명)"
          aria-label="nickname"
        />
        <button class="double-check-btn">중복확인</button>
      </div>
      <div class="register-bar">
        <input
          type="password"
          class="register-input"
          name="password"
          placeholder="현재 비밀번호"
          aria-label="password"
        />
        <button class="double-check-btn">확인</button>
      </div>
      <div class="register-bar">
        <input
          type="password"
          class="register-input"
          name="password"
          placeholder="새 비밀번호"
          aria-label="password"
        />
      </div>
      <div class="register-bar">
        <input
          type="password"
          class="register-input"
          name="password"
          placeholder="새 비밀번호 확인"
          aria-label="password"
        />
      </div>
      </div>
      <div class="profile-edit-btn-group">
        <button class="edit-btn ">저장하기</button>
        <button class="cancel-btn">취소</button>
      </div>
    </div>
  </body>
</html>
