<!DOCTYPE html>
<html lang="en">
  <head>
    <title>당신의 서재</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Theme CSS - Includes Bootstrap -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link href="../static/stylesheets/style.css" rel="stylesheet" />

    <!-- JS -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->

    <!-- 구글폰트 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" /> -->

    <script></script>
  </head>
  <body>
    <div class="mainHeaderGroup">
      <div class="largeGreyBox">
        <p class="largeWhiteText">당신의 서재</p>
      </div>
      <div class="profileGroup">
        <img class="profile-photo" src="../static/images/profile_photo.png" alt="내 프로필 사진" />
        <p>클라우드</p>
      </div>
    </div>
    <div class="title-line">
      <p>후기 작성</p>
    </div>
    <div class="review-group">
      <img class="book-photo" src="../static/images/sample_book.png" alt="책 사진" />
      <p class="review-book-title">책 제목(출판년도)</p>
      <p class="review-write-date">2020.02.22</p>
      <p class="review-author">작가, 출판사</p>
      <p class="review-star">별점</p>
      <input class="review-onepharse" type="text" placeholder="기억에 남는 책 속 한 구절" />
      <input
        class="review-hashtag"
        type="text"
        placeholder="해시태그를 남겨주세요. ex) #소설 #명언 #문장모음집"
      />
      <textarea
        class="review-memo"
        placeholder="메모/감상평을 남겨주세요. &#13;&#10;&#13;&#10;글을 읽으면서 필요한 내용이나 감상평을 자유롭게 작성해 주세요."
      ></textarea>
    </div>
    <div class="btn-group">
      <p class="black-btn">등록하기</p>
      <p class="grey-btn">취소하기</p>
    </div>
  </body>
</html>
