<!DOCTYPE html>
<html lang="en">
  <head>
    <title>당신의 서재</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Theme CSS - Includes Bootstrap -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link href="../static/stylesheets/style.css" rel="stylesheet" />

    <!-- JS -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->

    <!-- 구글폰트 -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" /> -->

    <script></script>
  </head>
  <body>
    <div class="mainHeaderGroup">
      <div class="large-grey-box">
        <p class="largeWhiteText">당신의 서재</p>
      </div>
      <div class="profileGroup">
        <img class="profile-photo" src="../static/images/profile_photo.png" alt="내 프로필 사진" />
        <p>클라우드</p>
      </div>
      <div class="library-btn">
        <img class="library-photo" src="../static/images/inactive_book.png" alt="내 서재 사진" />
      </div>
      <div class="best-btn">
        <img class="best-photo" src="../static/images/best_flag.png" alt="베스트 조회 사진" />
      </div>
      <div class="search-btn">
        <img class="search-photo" src="../static/images/after_search.png" alt="검색 사진" />
      </div>
    </div>
    <div class="search-group">
      <div class="search-bar">
        <div class="search-title">책 제목</div>
      </div>
<!--      <div class="search-bar">-->
<!--        <div class="search-title">태그</div>-->
<!--      </div>-->
      <div class="search-bar">
        <div class="search-title">작가</div>
      </div>
      <div class="search-bar">
        <div class="search-title">출판사</div>
      </div>
      <button class="black-btn">검색</button>
    </div>
  </body>
</html>
